docs/build/
out/
examples/simple/data/
examples/simple2/data
examples/simulation/data/
examples/*.jld
test/data/
examples/simple/access-token.jl
src/sandpit.jl
*.Rhistory
examples/output.log
examples/token
examples/simple2/xval/db.sqlite3_mb
examples/simple2/xval/db.sqlite3_sm
examples/simple2/.fair/*
examples/simulation/Array_example.jld
examples/mk/val
